meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Evaluación de proyectos de formación del PFCE
meta(meta name="description" content="El desarrollo de esta unidad temática le permitirá evaluar un proyecto de Formación Continua Especializada (en adelante FCE), utilizando la ficha de evaluación diseñada para realizar una evaluación técnica y presupuestal, así como la verificación financiera de rubros y de indicadores.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")