h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 002. Emitir concepto integral de proyectos de Formación Continua Especializada - FCE de acuerdo con los criterios establecidos en el pliego de la convocatoria, documentos complementarios y las herramientas metodológicas del proceso de evaluación.