.container
    .header-ecored
        h1 2. Evaluación financiera
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/tema_2/img_1.png").img-fluid

        p.mt-5 La propuesta se divide en aspectos técnicos y aspectos financieros, por tanto, la ficha contiene aspectos técnicos y financieros a evaluar. Los aspectos financieros, hacen referencia al cumplimiento de la resolución de tarifas, los cuales cumplen o no.

        p Existen criterios financieros generales y criterios financieros por acciones de formación. Los criterios generales, hacen referencia a la información que está incluida de manera general en el proyecto, como:

        img.img-a(src="assets/images/pages/tema_2/img_2.png").img-fluid

        p.mt-5 Los criterios por acción de formación hacen referencia a los criterios que serán aplicados a cada una de las acciones de formación presentadas, los cuales son validados según el detalle establecido en la resolución de tarifas.

        p Con la finalidad de realizar la evaluación práctica de un proyecto, se anexa ficha de evaluación y un proyecto tipo o modelo de la Empresa ESPUMITAS S.A.

        p Así mismo, se anexa hoja No.1 de publicación de Resultados de la ficha de evaluación denominada PUBLICACION

        p Para una mejor comprensión, se solicita la revisión de los anexos anteriormente descritos:

        .row.justify-content-center
            .col-6.col
                section.my-5

                        a(href="media/documentos/Anexo_1_Ejemplo_Espumitas_PFCE_13122018.docx" target="_blank").media-link      
            
                            img(src="assets/images/icons/icon_web.svg", alt="").media-link-icon

                            .media-link-title
                                p #[strong Anexo]. #[br]Ejemplo_Espumitas_PFCE_#[br]13122018


            .col-6.col
                section.my-5

                        a(href="media/documentos/Anexo_2_Ficha_de_Evaluacion.xlsx" target="_blank").media-link      
            
                            img(src="assets/images/icons/icon_web.svg", alt="").media-link-icon

                            .media-link-title
                                p #[strong Anexo]. #[br]Ficha_de_Evaluación